*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/gradle.xml
*.ipr
*.iws
*.apk
*.ap_
*.aab
*.jks
*.keystore
*.kotlin_module
*.metrics
*.reports
*.orig
.DS_Store
Thumbs.db
/build
/captures
.externalNativeBuild
.cxx
local.properties
